<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos Three.js</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="info">
        <h1>Terra</h1>
        <div class="edit">
            <button type="button" class="btn" onclick="moreSpeed()" >+</button> 
            <button type="button" class="btn" onclick="minSpeed()" >-</button> 
        </div>
        <div class="edit">
            <button type="button" class="btn" onclick="moreX()" >+</button> 
            <button type="button" class="btn" onclick="minSpeed()" >-</button> 
        </div>
        <p id="px"></p>
        <p id="py"></p>
    </div>
    <script src="../js/three.js"></script>
    <script src="../js/GLTFLoader.js"></script>
    <script src="../js/OrbitControls.js"></script>
    <script src="./index.js"></script>
  
</body>
</html>